.product-card {
    border: 1px solid var(--border-color);
    /* Light gray border */
    padding: 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: box-shadow 0.3s ease;
    /* Smooth transition for hover effect */
}

.product-card img {
    width: 100%;
    max-height: 250px;
    /* Adjust max-height as needed */
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.product-card h3 {
    margin: 0 0 0.5rem 0;
    /* Adjust margins as needed */
    color: var(--text-color);
    /* Dark gray text */
}

.product-card .price {
    color: var(--secondary-color);
    /* Deep blue price */
    font-weight: bold;
    margin-top: 0.5rem;
}

.product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Subtle shadow on hover */
}

.product-card .add-to-cart {
    /* New class for the button */
    background-color: var(--secondary-color);
    /* Deep blue button */
    color: var(--primary-color);
    /* White text */
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}

.product-card .add-to-cart:hover {
    background-color: var(--hover-color);
    /* Slightly darker blue on hover */
}