/* Profile.css */

.profile-page {
    padding: 2rem;
}

.profile-page h1 {
    color: var(--secondary-color);
    /* Assuming you have this variable defined */
    margin-bottom: 2rem;
}

/* Tab Navigation */
.tabs {
    display: flex;
    margin-bottom: 2rem;
}

.tab {
    padding: 1rem 2rem;
    border: 1px solid var(--border-color);
    /* Assuming you have this variable defined */
    border-radius: 5px 5px 0 0;
    /* Rounded top corners */
    background-color: var(--tertiary-color);
    /* Light gray background */
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-bottom: none;
    /* Remove bottom border for active tab */
    color: var(--text-color);
}

.tab.active {
    background-color: var(--secondary-color);
    /* Deep blue background for active tab */
    color: var(--primary-color);
    /* White text for active tab */
    border-bottom: 3px solid var(--secondary-color);
}

/* Tab Content */
.tab-content {
    border: 1px solid var(--border-color);
    /* Light gray border */
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--background-color);
}

/* Profile Information */
.profile-info label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--text-color);
}

.profile-info input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    outline: none;
    margin-bottom: 1rem;
}


.update-button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.update-button:hover {
    background-color: var(--hover-color);
}


/* Order History Table */
.order-history table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.order-history th,
.order-history td {
    border: 1px solid var(--border-color);
    padding: 0.8rem;
    text-align: left;
}

.order-history th {
    background-color: var(--tertiary-color);
    color: var(--text-color);
    font-weight: bold;
}

.order-history a {
    color: var(--secondary-color);
    text-decoration: none;
}

.order-history a:hover {
    text-decoration: underline;
}

/*Responsive adjustments (optional)*/
@media (max-width: 768px) {
    .tabs {
        flex-direction: column;
    }

    .tab {
        border-radius: 5px;
        /* Adjust border radius */
        margin-bottom: 0.5rem;
        /* Add margin between tabs */
    }

}